Repository bcgov/CITZ-HybridWorkplace, pull requests merged in 2022-05, with the labels that each got.

#18 Added .env-template and modified .gitignore
  .env-template
  .gitignore
Labels: good first issue

#20 Adds Dockerfile to client directory
  app/client/Dockerfile
Labels: good first issue

#25 Changed the 'C' in client/src/Components to a lowercase c
  app/client/src/components/JButton.js
  app/client/src/components/PostsList.js
  app/client/src/components/createCommunity.js
  app/client/src/components/editProfile.js
  app/client/src/components/joinCommunitiesList.js
  app/client/src/components/modals/addPost.css
  app/client/src/components/modals/addPost.js
  app/client/src/components/newCommunity.js
  app/client/src/components/profileInfo.js
Labels: dependencies

#27 Adding Pull Request Template and Dependabot Config
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yaml
Labels: github

#28 Initial Commit for Docker Compose w/ MongoDB container
  docker-compose.yaml
Labels: docker

#24 Updating Readme
  README.md
Labels: good first issue

#29 Added API_REF and API_PORT to .env.template
  .env-template
Labels: documentation

#31 Replaced occurrences of 'http://localhost:5000/api/<endpoint>' with `…
  app/client/src/components/JButton.js
  app/client/src/components/PostsList.js
  app/client/src/components/createCommunity.js
  app/client/src/components/editProfile.js
  app/client/src/components/profileInfo.js
  app/client/src/layout/footer.js
  app/client/src/layout/sideMenu.js
Labels: frontend

#32 replaced 'secret123' as the backend JWT_SECRET with process.env.JWT_SECRET.
  .env-template
  app/server/routes/communitiesListRouter.js
  app/server/routes/editProfile.js
  app/server/routes/login.js
  app/server/routes/profile.js
Labels: refactor, backend

#33 Refactored api and fixed mongoose connection on docker build.
  app/server/db.js
  app/server/express.js
  app/server/index.js
  app/server/package-lock.json
  app/server/package.json
Labels: refactor, backend

#34 Fixed env variables not being accessable in containers
  app/server/db.js
  docker-compose.yaml
Labels: docker

#38 HWP-199: Add ESLint, Prettier, and Airbnb Style Guide
  .eslintrc.json
  .prettierrc
  package-lock.json
  package.json
Labels: dependencies

#44 HWP-179: Implement frontend env variables
  app/client/.dockerignore
  app/client/Dockerfile
  app/client/env.sh
  app/client/nginx.conf
  app/client/public/index.html
  app/client/src/App.js
  app/client/src/actions/communityActons.js
  app/client/src/actions/postActions.js
  app/client/src/components/JButton.js
  app/client/src/components/PostsList.js
  app/client/src/components/createCommunity.js
  app/client/src/components/editProfile.js
  app/client/src/components/profileInfo.js
  app/client/src/layout/footer.js
  app/client/src/layout/sideMenu.js
  app/client/src/views/login.js
  app/client/src/views/register.js
  docker-compose.yaml
Labels: docker, frontend

#45 HWP-190: Initialize mongo db and create collections
  docker-compose.yaml
  init-mongodb/create-db.js
  init-mongodb/data/communities.json
  init-mongodb/data/posts.json
  init-mongodb/data/users.json
  init-mongodb/init-db.sh
Labels: mongo

#43 Non-templated API Deployment Config
  openshift/templates/api-dc.yaml
Labels: openshift

#39 Creating Git Action for Build/Deploy API to DEV
  .github/workflows/build-deploy-hwp-api.yaml
Labels: docker, DO NOT MERGE, openshift

#41 Remove Legacy Git Actions
  .github/workflows/app-ci-cd.yml
  .github/workflows/app-ci.yml
  .github/workflows/clean.yml
  .github/workflows/codeql-analysis.yml
Labels: docker, openshift

#57 HWP-204: Authenticate mongoose connection from API
  .env-template
  README.md
  app/client/nginx.conf
  app/server/db.js
  app/server/routes/login.js
  app/server/routes/posts.js
  app/server/routes/register.js
  docker-compose.yaml
  init-mongodb/create-db.js
Labels: backend, mongo

#59 Templatize API Deployment Config
  openshift/templates/api-dc.yaml
Labels: openshift

#40 Creating Git Action for Build/Deploy Frontend to DEV
  .github/workflows/build-deploy-hwp-frontend.yaml
Labels: docker, openshift

#64 HWP-206 Refactoring class components
  app/client/src/components/JButton.js
  app/client/src/components/JoinButton.js
  app/client/src/components/PostsList.js
  app/client/src/components/joinCommunitiesList.js
  app/client/src/components/modals/addPost.js
  app/client/src/components/newCommunity.js
  app/client/src/views/communitiesPage.js
  app/client/src/views/register.js
Labels: frontend

#66 Update Dockerfile COPY .env
  app/client/Dockerfile
Labels: docker

#67 Using NPM Install to install project dependencies
  app/server/Dockerfile
Labels: docker

#65 Creating Application Health Helper
  .github/helpers/application_health.sh
Labels: github

#69 Fixed env-config.js creating variables for empty lines in env-template
  app/client/env.sh
Labels: frontend

#72 Creating API TEST Deploy Git Action
  .github/workflows/test-api-deploy.yaml
Labels: github

#73 Creating Frontend TEST Deploy Git Action
  .github/workflows/test-frontend-deploy.yaml
Labels: github

#74 Adding Mongo Connection String via Secret
  openshift/templates/api-dc.yaml
Labels: openshift

#75 Updating Default Value
  openshift/templates/api-dc.yaml
Labels: openshift

#77 Updating API Application Name Secret Reference
  .github/workflows/build-deploy-hwp-api.yaml
Labels: github, openshift

#78 Updating Frontend Application Name Secret Reference
  .github/workflows/build-deploy-hwp-frontend.yaml
Labels: github, openshift

#80 Update API Deployment Config Secret Reference
  openshift/templates/api-dc.yaml
Labels: openshift

#81 Updating Frontend Deployment Config Env Vars
  openshift/templates/frontend-dc.yaml
Labels: openshift

#79 HWP-208: Db data is persistent
  .gitignore
  README.md
  docker-compose.yaml
  mongo/init/create-db.js
  mongo/init/data/communities.json
  mongo/init/data/posts.json
  mongo/init/data/users.json
  mongo/init/init-db.sh
Labels: mongo

#82 HWP-222: Changed redux code to 'Duck' structure
  app/client/src/actions/communityActions.js
  app/client/src/actions/postActions.js
  app/client/src/actions/types.js
  app/client/src/components/JoinButton.js
  app/client/src/components/communitiesList.js
  app/client/src/components/createCommunity.js
  app/client/src/components/joinCommunitiesList.js
  app/client/src/components/modals/addPost.js
  app/client/src/components/newCommunity.js
  app/client/src/components/postsList.js
  app/client/src/reducers/communityReducer.js
  app/client/src/reducers/postReducer.js
  app/client/src/redux/ducks/communityDuck.js
  app/client/src/redux/ducks/postDuck.js
  app/client/src/redux/index.js
  app/client/src/store.js
  app/client/src/views/Posts.js
  app/client/src/views/home.js
  app/server/express.js
Labels: frontend, redux

#83 Fixed copying of .env file in client Dockerfile to work for prod/dev
  .env-template
  app/client/Dockerfile
  docker-compose.yaml
Labels: docker, frontend

#71 Adding Services + Making Changes to Deploy Configs
  openshift/templates/api-dc.yaml
  openshift/templates/api-service.yaml
  openshift/templates/frontend-dc.yaml
  openshift/templates/frontend-service.yaml
  operations/backup/BACKUP_FILES_HERE
  operations/deployment/DEPLOYMENT_TEMPLATES_HERE
  operations/pipeline/PIPELINE_FILES_HERE
Labels: openshift

#86 HWP-188: (SERVER) Api improvements
  app/server/express.js
  app/server/index.js
  app/server/routes/communities.js
  app/server/routes/communitiesListRouter.js
  app/server/routes/community.js
  app/server/routes/editProfile.js
  app/server/routes/healthCheck.js
  app/server/routes/login.js
  app/server/routes/logout.js
  app/server/routes/post.js
  app/server/routes/posts.js
  app/server/routes/profile.js
  app/server/routes/register.js
  docker-compose.yaml
Labels: backend

#87 HWP-188: (CLIENT) Frontend api improvements
  app/client/src/App.js
  app/client/src/components/JoinButton.js
  app/client/src/components/communitiesList.js
  app/client/src/components/createCommunity.js
  app/client/src/components/editProfile.js
  app/client/src/components/joinButton.js
  app/client/src/components/joinCommunitiesList.js
  app/client/src/components/modals/addPost.js
  app/client/src/components/newCommunity.js
  app/client/src/components/postsList.js
  app/client/src/components/profileInfo.js
  app/client/src/index.js
  app/client/src/layout/header.js
  app/client/src/layout/sideMenu.js
  app/client/src/redux/ducks/communityDuck.js
  app/client/src/redux/ducks/postDuck.js
  app/client/src/redux/index.js
  app/client/src/routes.js
  app/client/src/views/communitiesPage.js
  app/client/src/views/home.js
  app/client/src/views/login.js
  app/client/src/views/posts.js
  app/client/src/views/profilePage.js
  app/client/src/views/register.js
Labels: frontend

#90 Adding API port to environment
  docker-compose.yaml
Labels: docker

#102 Update docker-compose.yaml
  docker-compose.yaml
Labels: docker

#109 Creating More Jobs in Git Actions
  .github/workflows/build-deploy-hwp-api.yaml
  .github/workflows/build-deploy-hwp-frontend.yaml
  .github/workflows/test-api-deploy.yaml
  .github/workflows/test-frontend-deploy.yaml
Labels: openshift

#106 Adding Pod Port to Deployment Config
  openshift/templates/frontend-dc.yaml
Labels: openshift

#107 Changing Port on Service Template
  openshift/templates/frontend-service.yaml
Labels: openshift

#108 Creating Mongo Network Policy Template
  openshift/templates/mongo-network-policy.yaml
Labels: openshift

#112 Added authDuck.js
  app/client/src/redux/ducks/authDuck.js
  app/client/src/redux/index.js
  app/client/src/views/login.js
  app/client/src/views/register.js
Labels: frontend, redux

#115 Added requires to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, github

#116 HWP-258: API Versioning
  .env-template
  app/server/README.md
  app/server/express.js
  app/server/package-lock.json
  app/server/package.json
  app/server/routes/v1/community.js
  app/server/routes/v1/healthCheck.js
  app/server/routes/v1/login.js
  app/server/routes/v1/logout.js
  app/server/routes/v1/post.js
  app/server/routes/v1/profile.js
  app/server/routes/v1/register.js
  app/server/routes/v1/token.js
Labels: backend

#117 Changed mongo image to mongo:4
  docker-compose.yaml
Labels: docker, mongo

#132 Added ternary operators to all client files
  app/client/src/components/editProfile.js
  app/client/src/components/joinButton.js
  app/client/src/components/modals/addPost.js
  app/client/src/components/profileInfo.js
  app/client/src/index.js
  app/client/src/redux/ducks/communityDuck.js
  app/client/src/redux/ducks/postDuck.js
Labels: frontend

#134 Updated PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#133 Cleanup Changes to React Env Variables
  .env-template
  app/client/Dockerfile
  app/client/README.md
  app/client/env.sh
  app/client/src/components/editProfile.js
  app/client/src/components/joinButton.js
  app/client/src/components/modals/addPost.js
  app/client/src/components/profileInfo.js
  app/client/src/redux/ducks/authDuck.js
  app/client/src/redux/ducks/communityDuck.js
  app/client/src/redux/ducks/postDuck.js
Labels: documentation, frontend, openshift

#140 HWP-262 Parameterizing API Reference in Deployment Config
  .github/helpers/deploy-api.sh
  .github/helpers/deploy.sh
  .github/workflows/build-deploy-hwp-frontend.yaml
  .github/workflows/prod-frontend-deploy.yaml
  .github/workflows/test-frontend-deploy.yaml
  openshift/templates/frontend-dc.yaml
Labels: DO NOT MERGE, openshift

#141 Changed logic for checking LOCAL_DEV
  .env-template
  app/client/src/redux/ducks/authDuck.js
  app/client/src/redux/ducks/communityDuck.js
  app/client/src/redux/ducks/postDuck.js
Labels: bug, frontend

#143 Update build-deploy-hwp-api.yaml
  .github/workflows/build-deploy-hwp-api.yaml
  .github/workflows/prod-api-deploy.yaml
  .github/workflows/test-api-deploy.yaml
Labels: github

#146 HWP-302: Added ability to remove user
  app/server/README.md
  app/server/express.js
  app/server/models/post.model.js
  app/server/models/user.model.js
  app/server/routes/v1/community.js
  app/server/routes/v1/post.js
  app/server/routes/v1/register.js
  app/server/routes/v1/user.js
Labels: backend

#147 Refactoring Github Actions for API Build, Tag, Push, Deploy
  .github/helpers/deploy-api.sh
  .github/workflows/prod-api-deploy.yaml
  .github/workflows/test-api-deploy.yaml
Labels: github

#148 Missing Github Action Update
  .github/workflows/build-deploy-hwp-api.yaml
Labels: github

#150 updating deploy-api.sh permissions
  .github/helpers/deploy-api.sh
Labels: github

#149 HWP-264: Close post modal
  app/client/src/components/modals/addPost.js
Labels: enhancement, frontend

#145 HWP 265 - Push Testing Environment for Merge
  .gitignore
  app/client/jsconfig.json
  app/client/package-lock.json
  app/client/package.json
  app/client/src/App.test.js
  app/client/src/tests/README.md
  app/client/src/tests/unit/!Banner.test.js
  app/client/src/tests/unit/footer.test.js
  app/client/src/tests/unit/login.test.js
  app/client/src/tests/unit/sidemenu.test.js
  app/server/.gitignore
  app/server/package-lock.json
  app/server/package.json
  app/server/tests/api-health.test.js
  app/server/tests/coverage/clover.xml
  app/server/tests/coverage/coverage-final.json
  app/server/tests/coverage/lcov-report/base.css
  app/server/tests/coverage/lcov-report/block-navigation.js
  app/server/tests/coverage/lcov-report/favicon.png
  app/server/tests/coverage/lcov-report/index.html
  app/server/tests/coverage/lcov-report/prettify.css
  app/server/tests/coverage/lcov-report/prettify.js
  app/server/tests/coverage/lcov-report/sort-arrow-sprite.png
  app/server/tests/coverage/lcov-report/sorter.js
  app/server/tests/coverage/lcov.info
Labels: jest

#154 Sending community name in community field instead of community id
  app/client/src/components/modals/addPost.js
  app/client/src/redux/ducks/authDuck.js
  app/client/src/redux/ducks/postDuck.js
Labels: frontend

#155 HWP-271 Create test file for GET /api/community
  app/server/tests/api-getCommunity.test.js
  app/server/tests/jest.config.js
Labels: jest

#156 Added community rules, login route changes, updates to community routes
  app/server/express.js
  app/server/models/community.model.js
  app/server/routes/v1/community.js
  app/server/routes/v1/logout.js
  app/server/routes/v1/token.js
Labels: backend

#158 HWP-295: Added post pinning
  app/server/models/post.model.js
  app/server/routes/v1/post.js
Labels: backend

#164 Hwp 329 - create file for testing API community requests
  app/server/tests/api-getCommunity.test.js
  app/server/tests/functions/communityFunctions.js
  app/server/tests/jest.config.js
Labels: jest

#163 Updating Frontend Environment Variables
  openshift/templates/frontend-dc.yaml
Labels: openshift

#162 HWP-328 Updating Environment Variable Values
  openshift/templates/api-dc.yaml
Labels: openshift

#157 HWP-268 Create test file for /register
  app/server/jest.config.js
  app/server/package-lock.json
  app/server/package.json
  app/server/tests/api-getCommunity.test.js
  app/server/tests/api-register.test.js
  app/server/tests/functions/authFunctions.js
  app/server/tests/functions/randomizer.js
  app/server/tests/jest.config.js
Labels: jest

#167 Hwp 273 - Create test file for DELETE /api/community/{title}
  app/server/tests/api-deleteCommunity.test.js
  app/server/tests/api-getCommunity.test.js
Labels: jest

#170 HWP-307 Frontend Refresh Token storage
  app/client/src/layout/sideMenu.js
  app/client/src/redux/ducks/authDuck.js
Labels: frontend

#161 HWP-327: Fixed JWT cookie not being set in frontend
  .env-template
  app/server/express.js
  app/server/routes/v1/login.js
  app/server/routes/v1/logout.js
  app/server/routes/v1/token.js
Labels: backend

#169 HWP-318: Post/Community tagging api
  app/server/models/community.model.js
  app/server/models/post.model.js
  app/server/routes/v1/community.js
  app/server/routes/v1/post.js
Labels: backend

#168 HWP-331 Create a file for testing API post requests
  app/server/tests/functions/postFunctions.js
Labels: jest

#166 HWP-266 create test file for /login
  app/server/tests/api-login.test.js
  app/server/tests/functions/authFunctions.js
Labels: jest

#173 Add files via upload
  docs/community-page-no-callout.png
  docs/community-page-with-callout.png
  docs/create-community-modal.png
  docs/create-post-modal.png
  docs/homepage-with-active-searchbar.png
  docs/homepage-with-callout.png
  docs/posts-page-no-callout.png
  docs/posts-page-with-callout.png
Labels: documentation

#172 HWP-310 Added alertDuck.js
  app/client/src/redux/ducks/alertDuck.js
  app/client/src/redux/ducks/authDuck.js
  app/client/src/redux/index.js
Labels: enhancement, frontend, redux

#178 HWP-290: Community/post flagging
  app/server/express.js
  app/server/middleware/authenticateToken.js
  app/server/models/community.model.js
  app/server/models/post.model.js
  app/server/routes/v1/community/community.js
  app/server/routes/v1/community/communityFlags.js
  app/server/routes/v1/community/communityRules.js
  app/server/routes/v1/community/communityTags.js
  app/server/routes/v1/logout.js
  app/server/routes/v1/post/post.js
  app/server/routes/v1/post/postFlags.js
  app/server/routes/v1/post/postTags.js
  app/server/routes/v1/token.js
  app/server/routes/v1/user.js
Labels: backend
